@import 'tailwindcss';
@import 'tailwind-animations';

@theme {
  --color-primary: #1a1a1a;
  --color-secondary: #bc1a14;
  --color-tertiary: #0055ff;
  --color-neutral: #4a4a4a;

  --font-headline: 'Space Grotesk', sans-serif;
  --font-body: 'Geist', sans-serif;
  --font-label: 'Space Grotesk', sans-serif;

  --shadow-auth: 5px 5px 2px #1d1d1d;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('@/assets/fonts/SpaceGrotesk.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('@/assets/fonts/Geist.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
body {
  overflow-x: hidden;
}
select {
  -webkit-appearance: none;
}
